:root {
  --dark-blue: #00008B;
  --light-blue: #add8e6;
  --dark-orange: #ff8c00;
  --yellow: #FFFF00;

  --h1: 7.594rem;
  --h2: 5.063rem;
}
.warm {
  --primary: var(--orange);
}
.cool {
  --primary: var(--dark-blue);
}
body {
  background-color: var(--primary);
}
h1 {
  font-size: var(--h1);
}
.section-title {
  font-size: var(--h1);
}
